In [2]:
import pandas as pd

In [3]:
nf = pd.read_csv('netflix_data.csv')

In [5]:
#get the shape of the dataframe
nf.shape

(7787, 11)

In [6]:
#display the first few rows
nf.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,genres
0,s1,TV Show,3%,NaN,"João Miguel, Bianca Comparato, Michel Gomes, R...",Brazil,14-Aug-20,2020,TV-MA,4,"International TV Shows, TV Dramas, TV Sci-Fi &..."
1,s10,Movie,1920,Vikram Bhatt,"Rajneesh Duggal, Adah Sharma, Indraneil Sengup...",India,15-Dec-17,2008,TV-MA,143,"Horror Movies, International Movies, Thrillers"
2,s100,Movie,3 Heroines,Iman Brotoseno,"Reza Rahadian, Bunga Citra Lestari, Tara Basro...",Indonesia,05-Jan-19,2016,TV-PG,124,"Dramas, International Movies, Sports Movies"
3,s1000,Movie,Blue Mountain State: The Rise of Thadland,Lev L. Spiro,"Alan Ritchson, Darin Brooks, James Cade, Rob R...",United States,01-Mar-16,2016,R,90,Comedies
4,s1001,TV Show,Blue Planet II,NaN,David Attenborough,United Kingdom,03-Dec-18,2017,TV-G,1,"British TV Shows, Docuseries, Science & Nature TV"

In [9]:
#group by director and get first few rows
nf.groupby('director').count().head()

,show_id,type,title,cast,country,date_added,release_year,rating,duration,genres
director,,,,,,,,,,
A. L. Vijay,2,2,2,2,2,2,2,2,2,2
A. Raajdheep,1,1,1,1,1,1,1,1,1,1
A. Salaam,1,1,1,1,1,1,1,1,1,1
A.R. Murugadoss,2,2,2,2,1,2,2,2,2,2
Aadish Keluskar,1,1,1,1,1,1,1,1,1,1

In [10]:
#sort values in release year in ascending order
nf['release_year'].sort_values()

4298    1925
4402    1942
5688    1942
7423    1943
7353    1943
        ...
4562    2021
1937    2021
6087    2021
7384    2021
3528    2021
Name: release_year, Length: 7787, dtype: int64

In [23]:
# counts by (individual) genres
nf.genres.str.split(', ').explode().value_counts()

genres
International Movies            2437
Dramas                          2106
Comedies                        1471
International TV Shows          1199
Documentaries                    786
Action & Adventure               721
TV Dramas                        704
Independent Movies               673
Children & Family Movies         532
Romantic Movies                  531
TV Comedies                      525
Thrillers                        491
Crime TV Shows                   427
Kids' TV                         414
Docuseries                       353
Romantic TV Shows                333
Stand-Up Comedy                  329
Music & Musicals                 321
Horror Movies                    312
British TV Shows                 232
Reality TV                       222
Sci-Fi & Fantasy                 218
Sports Movies                    196
Korean TV Shows                  150
TV Action & Adventure            150
Anime Series                     148
Spanish-Language TV Shows        147
Classic Movies                   103
TV Mysteries                      90
LGBTQ Movies                      90
Science & Nature TV               85
TV Sci-Fi & Fantasy               76
TV Horror                         69
Teen TV Shows                     60
Cult Movies                       59
Anime Features                    57
Faith & Spirituality              57
Movies                            56
Stand-Up Comedy & Talk Shows      52
TV Thrillers                      50
Classic & Cult TV                 27
TV Shows                          12
Name: count, dtype: int64

In [30]:
#count by ratings
nf['rating'].value_counts()

rating
TV-MA       2863
TV-14       1931
TV-PG        806
R            665
PG-13        386
TV-Y         280
TV-Y7        271
PG           247
TV-G         194
NR            84
G             39
TV-Y7-FV       6
UR             5
NC-17          3
Name: count, dtype: int64

In [31]:
#number of missing values for each attribute
nf.isna().sum()

show_id            0
type               0
title              0
director        2389
cast             718
country          507
date_added        10
release_year       0
rating             7
duration           0
genres             0
dtype: int64

In [33]:
#total number of missing values
nf.isna().sum().sum()

3631

In [34]:
#percentage of rows with missing values
(nf.isna().sum().sum() / nf.shape[0])*100

46.628997046359316

In [37]:
#drop rows containing missing values, get shape after removal
nf_clean = nf.dropna()
nf_clean.shape

(4808, 11)

In [39]:
#investigate duplicates
nf.duplicated().sum()

0